# Node.js packages to install
npmignore =
node_modules =
npm-lock.yaml =

# Dependencies
@studio-freight/lenis
@splinetool/react-spline
framer-motion
lucide-react
react-icons
zustand
react-hook-form
zod
clsx
tailwind-merge
class-variance-authority
@radix-ui/react-dialog
@radix-ui/react-accordion
@radix-ui/react-tabs
@radix-ui/react-tooltip
split-type-next-theme